.page {
    width: 840px;
    background-color: #FFF8E8;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
}

.vis {
    width: 100%;
    padding-top: 0px;
}

#title {
    font-size: 50px;
    font-weight: bold;  
    font-family: 'Open Sans';
    text-align: center; 
}

p{
    font-size: 14px;
    font-family: 'Open Sans';
    text-align: justify;
    line-height: 20px;
}

h2{
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.boldtext{
    font-weight: bolder;
}

.harvard {
    font-weight: bolder;
    color: #4f7994;
}

.shanghai {
    color: #c85417;
    font-weight: bolder
}

.country1 {
    color: #8B0000;
    font-weight: bolder;
}

.country2 {
    color: #fc3939;
    font-weight: bolder;
}

#def {
    text-align: left;
}

#reference {
    font-size: 12;
    padding-top: 30px;
}


    
